.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.bg-color{
    background-color: #fceae8;
}
.modify{
    margin: 0px 70px;
}
.size{
    width: 50px;
    padding-top: 20px;
}
.card{
    
}
.card-footer{
    border: none;
    background-color: white;
}
.img2{
    width: 20px;
}
.res2{
    margin-left: 65px;
}

.bl-color{
    background-color: rgb(40, 6, 73);
    padding-top: 100px;
    height: 700px;
    color: white;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.mar{
    padding-right: 100px;
}